[submodule "tree-3.17"]
	path = data/tree-3.17
	url = https://github.com/grindinggear/skilltree-export.git
	branch = master
[submodule "tree-3.16"]
	path = data/tree-3.16
	url = https://github.com/grindinggear/skilltree-export.git
	branch = master
[submodule "tree-3.15"]
	path = data/tree-3.15
	url = https://github.com/grindinggear/skilltree-export.git
	branch = master
[submodule "tree-3.18"]
	path = data/tree-3.18
	url = https://github.com/grindinggear/skilltree-export.git
	branch = master
[submodule "tree-3.19"]
	path = data/tree-3.19
	url = https://github.com/grindinggear/skilltree-export.git
	branch = master
